# Dependencias
/node_modules
/vendor

# Variables de entorno
.env
.env.backup
.env.production

# Compilados de Vite / frontend
/public/build
/public/hot

# Laravel
/bootstrap/cache/*.php
/storage/*.key
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
